# Core source language
*.cpp linguist-language=C++
*.h linguist-language=C++

# Ignore all assembly by default
*.s linguist-documentation
*.S linguist-documentation

# Explicitly allow only DAXPY assembly files (any location under src code)
src/**/daxpy_fragment.s linguist-language=Assembly

# Ignore notebooks dominating stats
*.ipynb linguist-documentation

# Reports and figures
*.docx linguist-documentation
*.pdf linguist-documentation
*.bib linguist-documentation
*.png linguist-documentation

# Simulation outputs and configs
*.txt linguist-generated
*.ini linguist-generated
*.json linguist-generated
*.cfg linguist-generated
